<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>ECC Network</title>
	<meta name="description"  content="ECC Network - Decentralize the digital world." />
	<meta name="author" content="The Eccoin Developers">
	<meta name="keywords"  content="ecc,crypto,decentralized,cryptocurrency,encrypted,chat" />
	<meta property="og:title" content="ECC Network - Decentralize the digital world." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<meta property="og:image:width" content="470" />
	<meta property="og:image:height" content="246" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="ECC Network - Decentralize the digital world." />
	<meta name="twitter:card" content="" />
	<meta name="twitter:site" content="" />
	<meta name="twitter:domain" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:description" content="" />
	<meta name="twitter:image" content="" />

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#212121"/>
    <meta name="msapplication-navbutton-color" content="#212121"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#212121"/>

	<!-- Web Fonts
	==================================================

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet"/>

-->

	<!-- CSS
	================================================== -->
	<link href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}"     rel="stylesheet">
	<link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}"  rel="stylesheet">
	<link href="{{ "/assets/css/owl.carousel.css" | prepend: site.baseurl }}"      rel="stylesheet">
	<link href="{{ "/assets/css/owl.transitions.css" | prepend: site.baseurl }}"   rel="stylesheet">
	<link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}"             rel="stylesheet">
	<link href="{{ "/assets/css/colors/color.css" | prepend: site.baseurl }}"      rel="stylesheet">

	<!-- Favicons
	================================================== -->
	<link rel="icon" type="image/png" href="{{ "/assets/favicon/favicon.png" | prepend: site.baseurl }}">

</head>
